* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

*::selection {
    background-color: #893bff;
    color: #fff;
}

:root {
    --skin: #FFF1BD;
    --dark-skin: #F3C892;
    --green: #A3DA8D;
    --drk-green: #146356;
    --lte-green-txt: #f5fbf3;
}

body {
    background-color: #FFF1BD;
}

body::-webkit-scrollbar {
    width: 18px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--skin);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--drk-green);
    border: 4px solid var(--skin);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}